extends layout

block content
  h1= title
    body
      div.content
        h2 Manage Your Event
        section.get
          h3 Get data
          a(href="/get-data") LOAD DATA
          div
            for item in items
              article.item
                div Title: #{item.title}
                div Type Of Work: #{item.typeOfWork}
                div Date Of Service: #{item.dateOfService}
                div Hours Required: #{item.hours}
                  a(href="/deletebtn/#{item._id}") DELETE
                section.update
        h3 Update data
        form(action="/update", method="post")
          div.input
            label(for='title') Title
            input(type="text", id="title", name="title")
          div.input
            label(for="typeOfWork") Type Of Work
            input(type="text", id="typeOfWork", name="typeOfWork")
          div.input
            label(for="dateOfService") Date of Service
            input(type="text", id="dateOfService", name="dateOfService")
          div.input
            label(for="hours") Hours
            input(type="text", id="hours", name="hours")
          button(type="submit") UPDATE
          section.insert
        h3 Insert data
        form(action="/insert", method="post")
          div.input
            label(for="title") Title
            input(type="text", id="title", name="title")
          div.input
            label(for="typeOfWork") Type Of Work
            input(type="text", id="typeOfWork", name="typeOfWork")
          div.input
            label(for="dateOfService") Date Of Service
            input(type="text", id="dateOfService", name="dateOfService")
          div.input
            label(for="hours") Hours
            input(type="text", id="hours", name="hours")
          button(type="submit") INSERT          
        
      
